---
title: Home
layout: default
keywords: aurelia, javascript, ui framework, sigma framework, ux framework
---


{% include home/carousel.html %}

<div class="container">
  <!-- <section class="roadmap p-t-3">
    <h1 class="text-xs-center display-4">Roadmap</h1>
    <div class="card-group">
      <div class="card card-block">
        <h5 class="card-title lead text-primary bold"><img src="/images/logo.png" align="center" height="32"/> UI Framework</h5>
        <ul class="checked-list">
          <li>Complete documentation and guides.</li>
          <li>Restructure UI Framework, and move to Sigma Frameworks</li>
          <li>Work on bundling the framework' custom elements with aurelia-cli</li>
          <li>Setup stack-overflow tag for answering queries</li>
        </ul>
      </div>
      <div class="card card-block">
        <h5 class="card-title lead text-primary bold"><img src="/images/framework7.png" align="center" height="32"/> UI FrameSeven</h5>
        <ul class="checked-list">
          <li>Create an easy to use framework for building Framework7+Aurelia Cordova applications.</li>
        </ul>
      </div>
    </div>
  </section> -->

  <section class="p-t-3">
    <p class="text-big">UI Frameworks built-on Aurelia JavaScript client framework.</p>
    <div class="card-group app-groups">
      {% include home/card-framework.html %}
      {% include home/card-framework7.html %}
    </div>
    <p>&nbsp;</p>
  </section>
</div>
<!-- <section class="features">
  <div class="container">
    <h3 class="text-xs-center m-t-3">Features</h3>
    <div class="card card-block">
      <div class="row">
        <div class="col-md-6">
          <div class="row m-y-2">
            <div class="col-auto p-x-1"><img src="images/response.png" width="36" /></div>
            <div class="col-xs">
              <h5 class="lead text-primary bold">Responsive Design</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row m-y-2">
            <div class="col-auto p-x-1"><img src="images/theme.png" width="36" /></div>
            <div class="col-xs">
              <h5 class="lead text-primary bold">Themeable</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row m-y-2">
            <div class="col-auto p-x-1"><img src="images/input.png" width="32" /></div>
            <div class="col-xs">
              <h5 class="lead text-primary bold">Extensive Input Elements</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row m-y-2">
            <div class="col-auto p-x-1"><img src="images/charts.png" width="32" /></div>
            <div class="col-xs">
              <h5 class="lead text-primary bold">Charting Support</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
