<div class="container">
  <div class="row">
    <div class="col-sm">Copyright &copy; 2016 <a href="https://adarshpastakia.github.io" target="_blank">Adarsh Pastakia</a>. All rights reserved.</div>
    <div class="col-sm align-right">
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/sigmaframeworks" data-count-href="/sigmaframeworks/followers" data-count-api="/users/sigmaframeworks#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @sigmaframeworks on GitHub">Follow @sigmaframeworks</a>
    </div>
  </div>
