.syntax {
    h5 {
        padding-top: 125px;
        margin-top : -120px;
        position   : relative;
        z-index    : 0;
    }

    > p,
    > ul,
    > div {
        z-index : 5;
        position: relative;
    }
}

.inner-menu {
    top        : 44px;
    z-index    : 10;
    background : #fdfdfd;
    box-shadow : 0 1px 0 0 #e5e5e5;
    font-weight: 400;

    .navbar-nav .nav-item.active .nav-link {
        color: $primary;
    }
}

.sub-menu {
    position   : fixed;
    top        : 110px;
    font-weight: 400;

    .nav-link {
        border-radius: 0;
        border-left  : 4px solid transparent;
        font-size    : .8em;

        &:active,
        &:hover {
            background: #f0f0f0;
        }

        &.active {
            pointer-events   : none;
            border-left-color: $primary;
            background       : transparent !important;
            color            : $primary !important;
            font-weight      : 600;
        }
    }
}
