--- 
title: Blog 
layout: default 
---

<!-- Main -->
<div class="container">
  {% for post in site.posts offset: 0 limit: 15 %}
  <article class="post-section border">
    <!-- <a href="{{ site.prefix }}{{ post.url }}" class="image full"><img src="/assets/{{ post.featured }}" alt=""></a> -->
    <div class="m-y-1">
      <div class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
      <div class="row">
        <div class="col-md-3 post-date">
          Posted by {{ post.author }} on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
        </div>
        <div class="col-md-9 post-tags">
          {% assign post = page %} 
          {% if post.tags.size > 0 %} 
            {% for post_tag in post.tags %} 
              {% assign tag = site.data.tags[post_tag] %} 
              {% if tag %} 
                  <a href="{{ site.baseurl }}/blog/tags/{{ post_tag }}" style="background:{{tag.color}}">{{ tag.name }}</a>
              {% endif %} 
            {% endfor %} 
          {% endif %}
        </div>
      </div>
    </div>
    <div class="post-excerpt">{{ post.excerpt | strip_html | truncate: 250 }}</div>
    
  </article>
  {% endfor %}
</div>