---
layout: default
---
{% assign current = page.url | downcase | split: '/' %}

<nav class="inner-menu navbar navbar-light bg-faded navbar-fixed-top">
  <div class="container">
  <ul class="nav navbar-nav">
    <li class="nav-item {% if current[3] == null %}active{% endif %}">
      <a class="nav-link" href="/docs/framework">Getting Started</a>
    </li>
    <li class="nav-item {% if current[3] == 'sass' %}active{% endif %}">
      <a class="nav-link" href="/docs/framework/sass.html">SASS Variables</a>
    </li>
    <li class="nav-item {% if current[3] == 'core' %}active{% endif %}">
      <a class="nav-link" href="/docs/framework/core.html">Core Elements</a>
    </li>
    <li class="nav-item {% if current[3] == 'components' %}active{% endif %}">
      <a class="nav-link" href="/docs/framework/components.html">Components</a>
    </li>
    <li class="nav-item {% if current[3] == 'inputs' %}active{% endif %}">
      <a class="nav-link" href="/docs/framework/inputs.html">Input Elements</a>
    </li>
    <li class="nav-item {% if current[3] == 'utilities' %}active{% endif %}">
      <a class="nav-link" href="/docs/framework/utilities.html">Utility Classes</a>
    </li>
  </ul>
  </div>
</nav>
<div class="container" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-9 col-xl-10">
      <div class="p-a-2 syntax">{{ content }}</div>
    </div>
    <div class="col-md-3 col-xl-2 hidden-sm-down">
      <ul class="sub-menu nav nav-stacked nav-pills {% if current[3] != null %}hidden{% endif %}">
        <li class="nav-item">
          <a class="nav-link" href="#start-with-skeleton-project">Start with Skeleton Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aurelia-entry-point">Aurelia Entry Point</a>
        </li>
      </ul>
      <ul class="sub-menu nav nav-stacked nav-pills {% if current[3] != 'sass' %}hidden{% endif %}">
        <li class="nav-item">
          <a class="nav-link" href="#theme-colors">Theme Colors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#base-variables">Base Variables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#typography">Typography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#grid-layout">Grid Layout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#app-viewport">App Viewport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#page">Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#menus">Menus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#buttons">Buttons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#inputs">Inputs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#date-input">Date Input</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tabs">Tabs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#toasts">Toasts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#datagrid">Datagrid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#component-z-index">Z-Index</a>
        </li>
      </ul>

      <ul class="sub-menu nav nav-stacked nav-pills {% if current[3] != 'core' %}hidden{% endif %}">
        <li class="nav-item">
          <a class="nav-link" href="#viewport">Viewport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#page-components">Page Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#grid-layout">Grid Layout</a>
        </li>
      </ul>

      <ul class="sub-menu nav nav-stacked nav-pills {% if current[3] != 'components' %}hidden{% endif %}">
        <li class="nav-item">
          <a class="nav-link" href="#menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#panel">Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#dialog">Dialog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab-panel">Tab Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#login-panel">Login Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#datagrid">Datagrid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tree-panel">Tree Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#chart-panel">Chart Panel</a>
        </li>
      </ul>

      <ul class="sub-menu nav nav-stacked nav-pills {% if current[3] != 'inputs' %}hidden{% endif %}">
        <li class="nav-item">
          <a class="nav-link" href="#form">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#button">Button</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#switch">Switch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#display-input">Display Input</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#basic-input">Basic Input</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#textarea">Textarea</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#combobox">ComboBox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tag-input">Tag Input</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#list">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#date">Date</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#file">File</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#phone">Phone</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#checkboxradio">Checkbox/Radio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#language-selector">Language Selector</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#markdown-editor">Markdown Editor</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#list-reorder">List Reorder</a>
        </li> -->
      </ul>

      <ul class="sub-menu nav nav-stacked nav-pills {% if current[3] != 'utilities' %}hidden{% endif %}">
        <li class="nav-item">
          <a class="nav-link" href="#application">Application</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#http-service">Http Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#event">Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#model">Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#converters--formatters">Converters &amp; Formatters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#utilities">Utilities</a>
        </li>
      </ul>
    </div>
  </div>
</div>
