---
layout: default
---
{% assign post = page %}
<!-- Main -->
<div class="container">
	<article class="post-section">
      <div class="post-title">{{ page.title }}</div>
      <div class="row">
        <div class="col-md-3 post-date">
          Posted by {{ post.author }} on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
        </div>
        <div class="col-md-9 post-tags">
          {% assign post = page %} 
          {% if post.tags.size > 0 %} 
            {% for post_tag in post.tags %} 
              {% assign tag = site.data.tags[post_tag] %} 
              {% if tag %} 
                  <a href="{{ site.baseurl }}/blog/tags/{{ post_tag }}" style="background:{{tag.color}}">{{ tag.name }}</a>
              {% endif %} 
            {% endfor %} 
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="post-content">{{ content }}</div>
  </article>
	<hr/>
{% include disqus.html %}
</div>
