<div class="card card-light">
  <img class="card-img-top logo-framework" src="images/blank.png" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">UI Framework</h4>
    <p class="card-text">A bespoke framework for building desktop business applications.</p>
    <ul class="checked-list">
      <li>Responsive Design.</li>
      <li>Themeable</li>
      <li>Extensive Input Elements</li>
      <li>Charting Support</li>
    </ul>
    <hr/>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <a class="block btn btn-primary" href="/docs/framework"><img src="images/book.png" width="18"/>
          Documentation
        </a>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <a class="block btn btn-primary" href="http://demo.sigmaframeworks.io/" target="_blank"><img src="images/flask.png" width="18"/>
          Examples
        </a>
      </div>
      <div class="col-sm-6">
        <a class="block btn btn-primary" href="http://demo-v2.sigmaframeworks.io/" target="_blank"><img src="images/flask.png" width="18"/>
          Examples v2
        </a>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-fill">
        <!-- Place this tag where you want the button to render. -->
        <a
          class="github-button"
          href="https://github.com/sigmaframeworks/sigma-ui-framework"
          data-icon="octicon-star"
          data-count-href="/sigmaframeworks/sigma-ui-framework/stargazers"
          data-count-api="/repos/sigmaframeworks/sigma-ui-framework#stargazers_count"
          data-count-aria-label="# stargazers on GitHub"
          aria-label="Star sigmaframeworks/sigma-ui-framework on GitHub">Star</a>

        <!-- Place this tag where you want the button to render. -->
        <a
          class="github-button"
          href="https://github.com/sigmaframeworks/sigma-ui-framework"
          data-icon="octicon-eye"
          data-count-href="/sigmaframeworks/sigma-ui-framework/watchers"
          data-count-api="/repos/sigmaframeworks/sigma-ui-framework#subscribers_count"
          data-count-aria-label="# watchers on GitHub"
          aria-label="Watch sigmaframeworks/sigma-ui-framework on GitHub">Watch</a>

        <!-- Place this tag where you want the button to render. -->
        <a
          class="github-button"
          href="https://github.com/sigmaframeworks/sigma-ui-framework/issues"
          data-icon="octicon-issue-opened"
          data-count-href="/sigmaframeworks/sigma-ui-framework/issues"
          data-count-api="/repos/sigmaframeworks/sigma-ui-framework#open_issues_count"
          data-count-aria-label="# issues on GitHub"
          aria-label="Issue sigmaframeworks/sigma-ui-framework on GitHub">Issue</a>
      </div>
      <!-- <div class="col-auto">
        <a target="_blank" href="https://gitter.im/sigma-frameworks/ui-framework"><img src="https://img.shields.io/badge/gitter-join_chat-red.svg?style=flat" /></a>
      </div> -->
      <!-- <div class="col-auto">
                <a href="/pay/ui-framework.html" class="btn btn-sm btn-secondary btn-paypal"><img src="/images/pp_button.png"/></button>
            </div> -->
    </div>

  </div>
</div>