<div class="card card-outline-primary">
    <img class="card-img-top logo-polymer" src="images/blank.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">UI Polymer</h4>
      <p class="card-text">Built on Polymer's Material Design for adminstrative dashboards.</p>
    </div>
    <div class="card-footer">
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/sigmaframeworks/sigma-ui-polymer" data-icon="octicon-star" data-count-href="/sigmaframeworks/sigma-ui-polymer/stargazers" data-count-api="/repos/sigmaframeworks/sigma-ui-polymer#stargazers_count"
          data-count-aria-label="# stargazers on GitHub" aria-label="Star sigmaframeworks/sigma-ui-polymer on GitHub">Star</a>

      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/sigmaframeworks/sigma-ui-polymer" data-icon="octicon-eye" data-count-href="/sigmaframeworks/sigma-ui-polymer/watchers" data-count-api="/repos/sigmaframeworks/sigma-ui-polymer#subscribers_count"
          data-count-aria-label="# watchers on GitHub" aria-label="Watch sigmaframeworks/sigma-ui-polymer on GitHub">Watch</a>

      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/sigmaframeworks/sigma-ui-polymer/issues" data-icon="octicon-issue-opened" data-count-href="/sigmaframeworks/sigma-ui-polymer/issues" data-count-api="/repos/sigmaframeworks/sigma-ui-polymer#open_issues_count"
          data-count-aria-label="# issues on GitHub" aria-label="Issue sigmaframeworks/sigma-ui-polymer on GitHub">Issue</a>
    </div>
  </div>
