<div class="card card-light">
  <img class="card-img-top logo-framework7" src="images/blank.png" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">UI FrameSeven</h4>
    <p class="card-text">Built with Framework7 for building cordova applications.</p>
    <ul class="checked-list">
      <li>Complete Framework7 Component List.</li>
      <li>Advantage of using Aurelia Binding Engine</li>
      <li>Visit <a href="http://framework7.io/">Framework7</a> website to learn more
    </ul>
    <hr/>
    <div class="row">
      <div class="col-sm-6">
        <!-- <a class="block btn btn-primary" href="/docs/framework"><img src="images/book.png" width="18" /> Documentation
          </a> -->
      </div>
      <div class="col-sm-6">
        <a class="block btn btn-primary" href="http://frameseven.sigmaframeworks.io/default.html" target="_blank"><img src="images/flask.png" width="18" /> Examples
        </a>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/sigmaframeworks/sigma-ui-frameseven" data-icon="octicon-star" data-count-href="/sigmaframeworks/sigma-ui-frameseven/stargazers" data-count-api="/repos/sigmaframeworks/sigma-ui-frameseven#stargazers_count"
        data-count-aria-label="# stargazers on GitHub" aria-label="Star sigmaframeworks/sigma-ui-frameseven on GitHub">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/sigmaframeworks/sigma-ui-frameseven" data-icon="octicon-eye" data-count-href="/sigmaframeworks/sigma-ui-frameseven/watchers" data-count-api="/repos/sigmaframeworks/sigma-ui-frameseven#subscribers_count"
        data-count-aria-label="# watchers on GitHub" aria-label="Watch sigmaframeworks/sigma-ui-frameseven on GitHub">Watch</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/sigmaframeworks/sigma-ui-frameseven/issues" data-icon="octicon-issue-opened" data-count-href="/sigmaframeworks/sigma-ui-frameseven/issues" data-count-api="/repos/sigmaframeworks/sigma-ui-frameseven#open_issues_count"
        data-count-aria-label="# issues on GitHub" aria-label="Issue sigmaframeworks/sigma-ui-frameseven on GitHub">Issue</a>
  </div>
</div>